node_modules
.idea
secrets
infra/.vagrant
target

# Output
.output
.vercel
/.svelte-kit
/build

/volumes

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
